aiohttp==3.7.4
dynaconf==3.1.7
# aiohttp-jinja2==1.5 вебприложения с использованием шаблоново
asyncpg==0.24.0 # (драйвер) для работы с БД
tortoise-orm==0.17.7 # ORM для работы с БД
pytest==6.2.5 # функционально-оформленные тесты
pytest-asyncio==0.15.1 # асинхронная работа pytest